/*--------------------------
pbc-color-schema
---------------------------*/
$clr-sky-blue: #2AC9EA;
$clr-sky-blue-light: #EBFEFF;
$clr-dark-blue: #001422;
$clr-white: #ffffff;
$clr-grey-light: #F5F5F7;
$clr-grey-blue: #8B97A0;
$clr-grey: #707070;
$clr-grey-light: #B9B9B9;
$clr-mweu-blue: #30CDEA;
$clr-mweu-gradient-blue: #00ABE5;
$clr-body-bg: #212529;
$clr-body-bg-grey: #343a40;
$clr-text-color-grey: rgba(173, 181, 189, 0.75);

/*--------------------------
end of Variables
 --------------------------*/