<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; margin: 0; min-width: 100%; padding: 0; width: 100% !important"><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner">
<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table>
<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner">
</td></tr></tbody></table></td></tr></tbody></table>
<!-- Ende Contentblock mit AMPScript auf Templatelevel -->


<!-- framework version: 2.1.0 / Date: 2019-10-29 8:5:23 GMT -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed" class="body-table" style="background-color: #ededed; padding: 0; vertical-align: top; width: 100%">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td align="center" class="center" style="padding: 0; text-align: center; vertical-align: top">

            <!-- Start Wrapper -->
            <table cellpadding="0" cellspacing="0" border="0" class="wrapper content-table" width="600" bgcolor="#FFFFFF" align="center" style="padding: 0; vertical-align: top; width: 600px">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td style="padding: 0; text-align: left; vertical-align: top">



                        <!-- Start Header  -->
                        <!--<div data-type="slot" data-key="header" data-label="Drop blocks or content here"></div> &lt;!&ndash; ########## An dieser Stelle erfolgt die Einbindung der "Header_Logo" ############### &ndash;&gt;-->

                        <!-- Ende Header  -->
                        <!-- Start Browser Version  -->
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"> </td></tr></tbody></table> <!-- ########## An dieser Stelle erfolgt die Einbindung des Links zur Browser Version ############### -->

                        <!-- Ende Browser Version  -->
                        <!-- Start Betreff  -->
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Brand Bar /version: 2.1.0 / Date: 2019-10-2 11:52:7 GMT -->
<!-- ACHTUNG: Bild-URL & ALT-Text müssen in diesem Modul sowohl für mobile (480px Breite) als auch Desktop-Darstellung separat editiert werden -->
<table class="wrapper" style="padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="bgcolor-brand" style="background-color: #e20074; padding: 0; text-align: left; vertical-align: top" bgcolor="#e20074" align="center">
            <!-- DESKTOP Bild --><a class="at480-off" target="_blank" href="https://www.t-systems.com/de/en">
                <img class="imgClass brand-header" src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/2/c081ddfd-43a3-4f25-af33-02184a5dc682.png" alt="T-Systems Let's power higher performance" title="T-Systems Let's power higher performance" style="-ms-interpolation-mode: bicubic; Margin: 0; border: none; display: block; margin: 0; min-height: 0; min-width: 100%; outline: none; padding: 0" width="600" border="0">
            </a><!-- EOF DESKTOP Bild -->
            <!--[if !mso]><!-- --><!-- MOBILE Bild --><a class="header-at480-visible" style="display:none" target="_blank" href="https://www.t-systems.com/de/en">
                <img class="imgClass brand-header" src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/2/c081ddfd-43a3-4f25-af33-02184a5dc682.png" alt="T-Systems Let's power higher performance" title="T-Systems Let's power higher performance" style="-ms-interpolation-mode: bicubic; Margin: 0; border: none; display: block; margin: 0; min-height: 0; min-width: 100%; outline: none; padding: 0" width="480" border="0">
            </a><!-- EOF MOBILE Bild --><!--<![endif]-->
        </td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Brand Bar -->

</td></tr></tbody></table> <!-- ########## An dieser Stelle erfolgt die Einbindung der "Betreffzeile" ############### -->
                        <!-- Ende Betreff  -->



                        <!-- Start Content Module -->
                        <table style="min-width: 100%; " class="stylingblock-content-wrapper" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Browser-Version /version: 2.1.0 / Date: 2019-7-30 16:13:52 GMT -->
<table class="wrapper" style="padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td class="right" style="padding: 0; text-align: right; vertical-align: top" align="right">
            <a href="https://view.mail.t-systems.net/?qs=e697e684a453d712efec3ac81708fa3c2362e78a8d69f47a00a4ce3a72dc7a115ece141a7aed78a504cb3c8ce47d2471ff337c2d3914ce78b55e68ca73ecf0d3d5a0b5696a6a9f1180b03f36aa56f079dc16b60f997037c9" target="_blank" class="textlink small" style="color: #007faf; font-family: Arial, sans-serif; font-size: 12px; line-height: 16.5px; text-decoration: none">Browser-Version</a>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td colspan="3" class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Browser-Version  -->

</td></tr></tbody></table>
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table>
<!-- Start Salutation /version: 2.1.0 / Date: 2019-7-30 16:13:52 GMT -->
<table class="wrapper" style="padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td style="padding: 0; text-align: left; vertical-align: top">
            <table class="container" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td style="padding: 0; text-align: left; vertical-align: top">
                        <p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 19.25px; padding: 0">
                            <!-- Salutation --><br>
Sehr geehrter Herr Thoams Kahn,

                            <!-- Salutation -->
                          </p>
                    </td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Salutation -->
</td></tr></tbody></table></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Fliesstext  /version: 2.1.0 / Date: 2019-7-30 16:13:52 GMT --><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="padding: 0; vertical-align: top" width="600">

		<tbody><tr style="padding: 0; vertical-align: top">
			<td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td><td style="padding: 0; text-align: left; vertical-align: top">
				<table border="0" cellpadding="0" cellspacing="0" class="container" style="padding: 0; vertical-align: top" width="552">

						<tbody><tr style="padding: 0; vertical-align: top">
							<td style="padding: 0; text-align: left; vertical-align: top">
								<p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 19.25px; padding: 0">
									wir freuen uns sehr über Ihr Interesse an unserem Informationsservice, der bald neue Features und Services bekommt. <!-- Text --></p></td></tr></tbody></table></td><td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td></tr><tr style="padding: 0; vertical-align: top">
			<td class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">
				&nbsp;</td></tr></tbody></table><!-- Ende Fliesstext  --></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Fliesstext  /version: 2.1.0 / Date: 2019-7-30 16:13:52 GMT --><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="padding: 0; vertical-align: top" width="600">

		<tbody><tr style="padding: 0; vertical-align: top">
			<td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td><td style="padding: 0; text-align: left; vertical-align: top">
				<table border="0" cellpadding="0" cellspacing="0" class="container" style="padding: 0; vertical-align: top" width="552">

						<tbody><tr style="padding: 0; vertical-align: top">
							<td style="padding: 0; text-align: left; vertical-align: top">
								<p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 19.25px; padding: 0">
									Zukünftig möchten wir Sie noch besser, und vor allem auf Ihre persönlichen Interessen abgestimmt, informieren. Wählen Sie selbst, welche wichtigen News, Updates, Event-Einladungen und Best Practices Sie erhalten möchten.&nbsp;<br>
									Zu diesem Zweck haben wir unsere Nutzungsbedingungen aktualisiert. Bestätigen Sie diese mit wenigen Klicks und legen Ihre Präferenzen fest.<br>
									<!-- Text --></p></td></tr></tbody></table></td><td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td></tr><tr style="padding: 0; vertical-align: top">
			<td class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">
				&nbsp;</td></tr></tbody></table><!-- Ende Fliesstext  --></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Button Modul 6-spaltig /version: 3.0.3 / Date: 2021-4-12 8:38:6 GMT --><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="background-color: #ffffff; padding: 0; vertical-align: top" width="600">

  <tbody><tr style="padding: 0; vertical-align: top">
   <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
    &nbsp;</td><td style="padding: 0; text-align: left; vertical-align: top">
    <!-- Start Button  --><table border="0" cellpadding="0" cellspacing="0" style="padding: 0; vertical-align: top">

      <tbody><tr style="padding: 0; vertical-align: top">
       <td align="center" bgcolor="#e20074" class="button center" style="background-color: #e20074; border-radius: 8px; padding: 0; text-align: center; vertical-align: top">
        <a class="button" data-linkto="other" href="https://pages.t-systems.net/PreferenceCenterDataProcessing_tf?qs=e29855724a82bc592532dd5c508542e554d2ac8c7b208441faa42da2b6852c0d425ad41ba5149df8b99fb38c7f262b5abe0b767a34700a0d89bcb399858b4db9b6d9918c301f05585831db15e569d18f5f7eb585b5987b2b208ece459e00bd8c691ce016f34c1d836aa1433d9892fc0ecaf0898f1640bffbc3311c046d6c5e6daaefca18d454e420f9158945032b8cdd3859cb72ffd23b0b75a013c946866bb8acb82f8f060314b8df48cec5a4226b75" style="color:#ffffff;text-decoration:none;-webkit-text-size-adjust: none; border: 1px solid #e20074; border-radius: 8px; display: inline-block; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 16px; padding: 8px 15px; text-align: center" target="_blank" title="Zu Ihrer Übersicht">Zu Ihrer Übersicht</a></td></tr></tbody></table><!-- Ende Button  --></td>
<td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
    &nbsp;</td></tr><tr style="padding: 0; vertical-align: top">
   <td class="ver-24-margin" colspan="3" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">
    &nbsp;</td></tr></tbody></table><!-- Ende Button Modul 6-spaltig  --></td></tr></tbody></table>
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Fliesstext  /version: 2.1.0 / Date: 2019-7-30 16:13:52 GMT --><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="padding: 0; vertical-align: top" width="600">

		<tbody><tr style="padding: 0; vertical-align: top">
			<td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td><td style="padding: 0; text-align: left; vertical-align: top">
				<table border="0" cellpadding="0" cellspacing="0" class="container" style="padding: 0; vertical-align: top" width="552">

						<tbody><tr style="padding: 0; vertical-align: top">
							<td style="padding: 0; text-align: left; vertical-align: top">
								<p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 19.25px; padding: 0">
									Das passiert als nächstes: Zu Ihrer und unserer Sicherheit erhalten Sie nach dem ersten Klick einen personalisierten Zugangstoken, der nur durch Sie nutzbar ist. Danach gelangen Sie in Ihr Preference Center. Dort erhalten Sie eine Übersicht Ihrer aktuellen Auswahl. Bitte bestätigen Sie diese abschließend. <!-- Text --></p></td></tr></tbody></table></td><td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td></tr><tr style="padding: 0; vertical-align: top">
			<td class="ver-24-margin" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">
				&nbsp;</td></tr></tbody></table><!-- Ende Fliesstext  --></td></tr></tbody></table>
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Grussformel /version: 2.1.0 / Date: 2019-7-31 14:11:42 GMT --><!-- HINWEIS: Unterschrift als Bild ist moeglich (siehe auskommentiertes <img ...>) --><table border="0" cellpadding="0" cellspacing="0" class="wrapper" style="padding: 0; vertical-align: top" width="600">

		<tbody><tr style="padding: 0; vertical-align: top">
			<td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td><td style="padding: 0; text-align: left; vertical-align: top">
				<table border="0" cellpadding="0" cellspacing="0" class="container grid-table" style="padding: 0; vertical-align: top" width="552">

						<tbody><tr style="padding: 0; vertical-align: top">
							<td class="col col-6" style="padding: 0; text-align: left; vertical-align: top; width: 552px">
								<p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 19.25px; padding: 0">
									Mit freundlichen Grüßen<!-- Text --></p><!--<img src="??????" alt="">--><p class="text" style="Margin-bottom: 0; Margin-top: 0; color: #484848; font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 19.25px; padding: 0">
									<strong><!-- Text -->Ihre T-Systems <!-- Text --> </strong></p></td></tr></tbody></table></td><td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">
				&nbsp;</td></tr><tr style="padding: 0; vertical-align: top">
			<td class="ver-24-margin" colspan="3" style="font-size: 24px; line-height: 24px; padding: 0; text-align: left; vertical-align: top">
				&nbsp;</td></tr></tbody></table><!-- Ende Grussformel --></td></tr></tbody></table>
















                        <!-- Ende Content Module -->



                        <!-- Start Footer  -->
                        <table role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Footer Social Media -->
<table class="wrapper footer-module bgcolor-dark-grey no-reply" style="background-color: #262626; padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td style="padding: 0; text-align: left; vertical-align: top">
            <table class="container grid-table" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="ver-15-margin" style="font-size: 15px; line-height: 15px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col col-6 mobCenter" style="padding: 0; text-align: left; vertical-align: top; width: 552px">

                          <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">

                                <tbody><tr></tr><tr style="padding: 0; vertical-align: top">


                          <td style="padding: 0; text-align: left; vertical-align: top">
                                    <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">
                                          <td style="padding:5px 10px 5px 5px; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://www.youtube.com/channel/UCiKpNSb4vKUuO1UGPjlNB2w" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, " helvetica="" neue",="" helvetica,="" sans-serif;font-size:14px;text-decoration:underline;color:#ffffff;"=""><img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/1/50b6b5c0-564a-4c01-8771-5d0bc2c86fdf.png" alt="YouTube" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" title="YouTube" width="23"></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>


                                <td class="hor-8-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 8px">&nbsp;</td>


                                <td style="padding: 0; text-align: left; vertical-align: top">
                                    <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">
                                            <td style="padding: 5px 10px 5px 5px;; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://twitter.com/tsystemsCom" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, " helvetica="" neue",="" helvetica,="" sans-serif;font-size:14px;text-decoration:underline;color:#ffffff;"=""><img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/1/e451029c-9180-4878-8b47-e3529c0e8e7d.png" alt="Twitter" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" title="Twitter" width="26"></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>


                                <td class="hor-8-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 8px">&nbsp;</td>

                                <td style="padding: 0; text-align: left; vertical-align: top">
                                    <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">
                                            <td style="padding: 5px 10px 5px 5px; text-align: left; vertical-align: top">
                                                 <a target="_blank" href="https://www.linkedin.com/company/t-systems/" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, " helvetica="" neue",="" helvetica,="" sans-serif;font-size:14px;text-decoration:underline;color:#ffffff;"=""><img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/1/cb995c9d-15d8-4320-98c2-7c9a4fd70d1d.png" alt="LinkedIn" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" title="LinkedIn" width="21"></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>


                                <td class="hor-8-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 8px">&nbsp;</td>

                                <td style="padding: 0; text-align: left; vertical-align: top">
                                    <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">
                                            <td style="padding: 5px 10px 5px 5px; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://www.xing.com/company/t-systems" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, " helvetica="" neue",="" helvetica,="" sans-serif;font-size:14px;text-decoration:underline;color:#ffffff;"=""><img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/1/0b99b921-8371-4811-839b-dbe41d96597c.png" alt="Xing" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" title="Xing" width="21"></a>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>



        <td class="hor-8-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 8px">&nbsp;</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col ver-16-margin" style="font-size: 16px; line-height: 16px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Footer Social Media --></td></tr></tbody></table> <!-- ################ An dieser Stelle erfolgt die Einbindung der "Footer_Pflichtangaben" ################ -->
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Footer Mandatory Details -->
<table class="wrapper footer-module mandatory" style="background-color: #262626; padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td style="padding: 0; text-align: left; vertical-align: top">
            <table class="container grid-table" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="col col-6" style="padding: 0; text-align: left; vertical-align: top; width: 552px">
                        <table style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr style="padding: 0; vertical-align: top">
                                <td class="ver-15-margin" style="font-size: 15px; line-height: 15px; padding: 0; text-align: left; vertical-align: top">
                                    <table class="container" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">
                                            <td class="ver-15-margin border-top" style="border-top: 1px solid #a3a3a3; font-size: 15px; line-height: 15px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr style="padding: 0; vertical-align: top">
                                <td style="padding: 0; text-align: left; vertical-align: top">
                                    <table class="mobileWidth" style="padding: 0; vertical-align: top" cellspacing="0" cellpadding="0" border="0">
                                        <tbody><tr style="padding: 0; vertical-align: top">


                                          <td class="blockMobile center" style="padding: 0; padding-top:10px; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://pages.t-systems.net/PreferenceCenterDataProcessing_tf?qs=e29855724a82bc592532dd5c508542e554d2ac8c7b208441faa42da2b6852c0d425ad41ba5149df8b99fb38c7f262b5abe0b767a34700a0d89bcb399858b4db9b6d9918c301f05585831db15e569d18f5f7eb585b5987b2b208ece459e00bd8c691ce016f34c1d836aa1433d9892fc0ecaf0898f1640bffbc3311c046d6c5e6daaefca18d454e420f9158945032b8cdd3859cb72ffd23b0b75a013c946866bb8acb82f8f060314b8df48cec5a4226b75" class="textlink small darker-grey-footer" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; letter-spacing: -0.015em; line-height: 16.5px; text-decoration: none">My data</a>
                                            </td>
                                          <td class="hor-16-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 32px"></td>
                                            <td class="blockMobile center" style="padding: 0; padding-top:10px; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://www.t-systems.com/de/en/data-protection" class="textlink small darker-grey-footer" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; letter-spacing: -0.015em; line-height: 16.5px; text-decoration: none">Data Protection</a>
                                            </td>
                                          <td class="hor-16-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 32px"></td>
                                            <td class="blockMobile center" style="padding: 0; padding-top:10px; text-align: left; vertical-align: top">
                                                <a target="_blank" href="https://www.t-systems.com/de/en/disclaimer-of-liability" class="textlink small darker-grey-footer" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; letter-spacing: -0.015em; line-height: 16.5px; text-decoration: none">Disclaimer</a>
                                            </td>
                                          <td class="hor-16-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 32px"></td>
                                          <td class="blockMobile center" style="padding: 0; padding-top:10px; text-align: left; vertical-align: top"> <a target="_blank" href="https://www.t-systems.com/de/en/imprint" class="textlink small darker-grey-footer" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; letter-spacing: -0.015em; line-height: 16.5px; text-decoration: none">Imprint</a></td>
                                          <td class="hor-16-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 32px"></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr style="padding: 0; vertical-align: top">
                                <td class="ver-15-margin" style="font-size: 15px; line-height: 15px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td colspan="2" style="padding: 0; text-align: left; vertical-align: top">
            <table style="padding: 0; vertical-align: top" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="hor-14-margin mobile-hor-24-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 32px"></td>
                                      <td class="blockMobile mobCenter mobileOff" style="padding: 0; text-align: left; vertical-align: top">
                        <img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/2/b9bdffd0-7a62-4477-a662-39d70082ce9c.png" alt="T-Systems-Logo" title="T-Systems-Logo" style="-ms-interpolation-mode: bicubic; Margin: 0; display: block; margin: 0; outline: none; padding: 0" width="127" height="auto">
                    </td>
                  <td class="hor-14-margin mobile-hor-24-margin mobileOff" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 377px">&nbsp;</td>
                  <td class="blockMobile right mobCenter vertical-center mobileOff" style="padding: 0; text-align: right; vertical-align: top">
                        <img src="https://image.mail.t-systems.net/lib/fe3e11717564047c741479/m/2/82ddeac6-c76a-40bb-9dca-ba6095f9c478.png" title="T-Systems-Claim-Logo" style="-ms-interpolation-mode: bicubic; Margin: 0; display: block; margin: 0; outline: none;" width="120" height="auto">
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="ver-14-margin" style="font-size: 14px; line-height: 14px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Footer Mandatory Details --></td></tr></tbody></table> <!-- ################ An dieser Stelle erfolgt die Einbindung der "Footer_NoReply" ################ -->
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Footer Copyright -->
<table class="wrapper footer-module hint-text" style="background-color: #262626; padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td class="center" style="padding: 0; text-align: center; vertical-align: top">
            <table class="container grid-table" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col col-6" style="padding: 0; text-align: left; vertical-align: top; width: 552px">
                        <p class="text darker-grey" style="Margin-bottom: 0; Margin-top: 0; color: #CCCCCC; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 13.75px; padding: 0">
                            © 2023 T-Systems International GmbH
                        </p>
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td colspan="3" class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Footer Copyright -->

</td></tr></tbody></table> <!-- ################ An dieser Stelle erfolgt die Einbindung der "Footer_Abmeldelink" ################ -->
                        <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner">

<!-- Start Footer Preference Center -->
<table class="wrapper footer-module hint-text" style="background-color: #262626; padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td class="center" style="padding: 0; text-align: center; vertical-align: top">
            <table class="container grid-table" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col col-6" style="padding: 0; text-align: left; vertical-align: top; width: 552px">
                        <p class="text darker-grey" style="Margin-bottom: 0; Margin-top: 0; color: #CCCCCC; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 13.75px; padding: 0">
                                                     Would you like to receive more targeted information or change or cancel some or all of the T-Systems promotional information services sent to you? And be able to update or delete the data you have entrusted to T-Systems for this purpose at any time? Then please use option  <a href="https://pages.t-systems.net/PreferenceCenterDataProcessing_tf?qs=e29855724a82bc592532dd5c508542e554d2ac8c7b208441faa42da2b6852c0d425ad41ba5149df8b99fb38c7f262b5abe0b767a34700a0d89bcb399858b4db9b6d9918c301f05585831db15e569d18f5f7eb585b5987b2b208ece459e00bd8c691ce016f34c1d836aa1433d9892fc0ecaf0898f1640bffbc3311c046d6c5e6daaefca18d454e420f9158945032b8cdd3859cb72ffd23b0b75a013c946866bb8acb82f8f060314b8df48cec5a4226b75" class="textlink small" style="color: #CCCCCC; font-family: Arial, sans-serif; font-size: 12px; line-height: 13.5px; text-decoration: underline"> My data</a>.
                        </p>
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td colspan="3" class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Footer Preference Center -->

</td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"><!-- Start Footer NoReply -->
<table class="wrapper footer-module hint-text" style="background-color: #262626; padding: 0; vertical-align: top" width="600" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
        <td class="center" style="padding: 0; text-align: center; vertical-align: top">
            <table class="container grid-table" style="padding: 0; vertical-align: top" width="552" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="col col-6" style="padding: 0; text-align: left; vertical-align: top; width: 552px">
                        <p class="text darker-grey" style="Margin-bottom: 0; Margin-top: 0; color: #CCCCCC; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 13.75px; padding: 0">
                            This is an automatically generated message. Please always send any general questions or problems with the content and functions of this email to the  <a href="mailto:T-Systems.Marketing@t-systems.com" alias="ContactEmail" class="textlink small" style="color: #CCCCCC; font-family: Arial, sans-serif; font-size: 12px; line-height: 13.5px; text-decoration: underline">T-Systems Marketing Team</a>.
                      </p>
                    </td>
                </tr>
                <tr style="padding: 0; vertical-align: top">
                    <td class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
        <td class="hor-24-margin" style="font-size: 0; line-height: 1px; padding: 0; text-align: left; vertical-align: top; width: 24px">&nbsp;</td>
    </tr>
    <tr style="padding: 0; vertical-align: top">
        <td colspan="3" class="ver-10-margin" style="font-size: 10px; line-height: 10px; padding: 0; text-align: left; vertical-align: top">&nbsp;</td>
    </tr>
</tbody></table>
<!-- Ende Footer NoReply -->

</td></tr></tbody></table> <!-- ################ An dieser Stelle erfolgt die Einbindung der "Footer_Sternchentext" ################ -->
                        <!-- Ende Footer -->


                    </td>
                </tr>
            </tbody></table>

        </td>
    </tr>
</tbody></table>

<!--[if !mso]><!-- -->
<img style="-ms-interpolation-mode: bicubic; Margin: 0; display: block; margin: 0; min-width: 600px; outline: none; padding: 0" class="mobileOff" src="http://image.dialog-telekom.de/lib/fe8d13737761027576/m/1/6c2688a4-09f6-492b-a997-842a55899003.gif" height="1" width="600">
<!-- <![endif]-->

<section>
    <div id="new-gmail-hack" style="white-space: nowrap; font: 15px courier; line-height: 0; display: none">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </div>
</section>

<table cellpadding="0" cellspacing="0" border="0" class="hide" style="padding: 0; vertical-align: top">
    <tbody><tr style="padding: 0; vertical-align: top">
        <td height="1" class="hide" style="font-size: 0px; line-height: 0px; min-width: 700px; padding: 0; text-align: left; vertical-align: top">
            <img height="1" src="http://image.dialog-telekom.de/lib/fe8d13737761027576/m/1/6c2688a4-09f6-492b-a997-842a55899003.gif" style="-ms-interpolation-mode: bicubic; Margin: 0; border: none; display: block; margin: 0; min-width: 700px; outline: none; padding: 0; text-decoration: none">
        </td>
    </tr>
</tbody></table>
<div style="“font-size:0;" line-height:0;“="">
<table role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper" width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner"></td></tr></tbody></table>
<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width: 100%; " class="stylingblock-content-wrapper"><tbody><tr><td class="stylingblock-content-wrapper camarker-inner">
<img src="https://t-systems01.webtrekk.net/278010194412028/ce?p=441&amp;ce1=wt_mc=em.de-de.mc.MKT_Permission_Cleansing_2023.7012o000001HvNdAAK.CLEANUP_PermissionCleansing2023_Email1_DE.ma.20230328&amp;ce2=ef94c201-f0aa-4b47-a787-c745d46eec93" width="1" height="1">
</td></tr></tbody></table>
</div>

</body>
</html>