{% extends 'app_phishing/layout_pwd.html' %}
{% load static %}

{% block title %}
    login
{% endblock %}

{% block main %}

    <div class="row d-flex align-content-center justify-content-center vh-100">
        <div class="col-lg-5 col-sm-12 col-md-8">
            {% if message %}
                {{ message }}
            {% endif %}
            <div class="card">
            <!-- close -->
                <div class="card-body ms-5 me-5 ps-4 pe-4">
                    <!--<button type="button" class="modal-close close text-muted-custom" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="bi bi-x-circle"></i></span>
                    </button>-->
                    <!-- heading -->
                    <div class="row">
                        <div class="col-12"><img src="{% static 'app_phishing/logos/pbLogodarkblue.png' %}" width="120px"></div>
                    </div>
                     <div class="col-12">
                        <p class="my-3">{{ user_email }}</p>
                    </div>
                    <h2 class=" gr-medium">Enter password</h2>

                    <!-- form -->
                    <form class="mb-5" action="{% url 'app_phishing:get_pwd' user_email user_id %}" method="post"> {% csrf_token %}
                        <!-- email -->


                        <!-- password -->
                        <div class="form-group mb-5">
                            <label class="sr-only mb-1 mt-3" for="modalSigninVerticalPassword">Password*</label>
                            <input class="form-control {% if password %}is-invalid{% endif %}" name="password" type="password" id="modalSigninVerticalPassword" placeholder="Passwort*">
                        </div>
                        <!-- submit -->
                        <button class="btn btn-primary btn-lg w-100" type="submit">Anmeldung</button>

                    </form>
                </div>
                <div class="row bg-body-grey">
                    <div class="col">
                        <p class="mb-5 text-center text-muted">Willkomen bei PB Consult gmbh</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}