{% extends 'app_phishing/base.html' %}
{% load static %}
{% block header %}
    <nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary">
        <div class="container-md">
            <a class="navbar-brand" href="#"><h2>PBC-IT</h2></a>
        </div>
    </nav>

{% endblock %}

{% block main %}
    <section class="container text-center py-5" style="height: 650px">
        <div class="row">
            <div class="col-6">
                <h1 class="fw-light text-white display-2 my-5">Phishing-Test durchgeführt</h1>
                <h2 class="fw-light text-white display-2 my-5">Wichtig - bitte lesen!</h2>
                <p>
                    Unsere IT-Abteilung hat einen Phishing-Test durchgeführt, um unsere Mitarbeiterinnen und Mitarbeiter
                    für mögliche Bedrohungen im Zusammenhang mit Phishing-E-Mails zu sensibilisieren. Dabei wurde eine
                    gefälschte E-Mail verschickt, um zu überprüfen, ob die Mitarbeiterinnen und Mitarbeiter
                    die Warnhinweise erkannt und angemessen darauf reagiert haben. Dieser Test dient dazu, unsere
                    Mitarbeiterinnen und Mitarbeiter für die Gefahren von Phishing zu schulen und unsere
                    IT-Sicherheitsmaßnahmen zu verbessern.
                </p>
            </div>
        </div>
    </section>
    <div class="my-5" ></div>
    <section class="py-5" style="background-color:  #212529;" id="email-test">
        <div class="container">
            <div class="row py-5 text-center">
                <h2 class="display-2  ">Email-Test</h2>
                <hr/>
            </div>
            <div class="row align-items-start">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 shadow-sm">
                            <h3 class="display-4 py-5">Erklärung</h3>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >1.</span> Vorsicht vor gefälschten E-Mails und Spoofing-Attacken </div>
                                        <p>
                                            Es ist wichtig, bei der Nutzung von E-Mails und anderen digitalen Kommunikationsmitteln achtsam zu sein, daher bitte Absender genau prüfen:
                                            hier ist die E-Mail Adresse ist <span class="text-warning">thomas.kahn@pbconsult.info</span> statt <span class="text-warning">.de</span>
                                        </p>
                                        <p>
                                            Einige Angreifer nutzen gefälschte E-Mail-Adressen, um den Eindruck zu erwecken, dass eine E-Mail von einem vertrauenswürdigen Absender stammt.
                                            Dies wird als „Spoofing“ bezeichnet. Daher achtet bei der Überprüfung von E-Mails immer auf die Domain des Absenders, um sicherzustellen, dass sei mit dem Unternehmen übereinstimmt.
                                            Wenn es Zweifel an der Echtheit einer E-Mail gibt, sollte man sie nicht beantworten und auf keine Links oder Anhänge klicken.
                                            Bitte nutzt den gesunden Menschenverstand um uns vor Cyber-Bedrohungen zu schützen und wendet euch im Zweifelsfall an das IT-Team.

                                        </p>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">25%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >2.</span> Hinweis externer Absender: ACHTUNG: Diese E-Mail stammt von einem externen Absender</div>
                                        <p>
                                            Bei internen E-Mails innerhalb der PB Consult gibt es keinen Hinweis darauf, dass eine E-Mail von einem externen Absender stammt.
                                            Daher ist es wichtig, dass jede Mitarbeiterin und jeder Mitarbeiter wachsam bleibt und bei E-Mails von unbekannten Absendern oder verdächtigen Inhalten besonders vorsichtig ist,
                                            um mögliche Sicherheitsrisiken zu minimieren.
                                        </p>

                                    </div>
                                    <span class="badge bg-primary rounded-pill">25%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >3.</span> Anrede: Sehr geehrte Mitarbeiterinnen und Mitarbeiter</div>
                                           Anhand von Anrede, Schreibweise, Wortwahl und Inhalt lassen sich oft potenzielle Phishing-E-Mails erkennen.
                                            Phishing-E-Mails haben oft eine unpersönliche Anrede und können verdächtige Links oder Anhänge enthalten.
                                            Bitte meldet verdächtige E-Mails unserem IT-Team um die Sicherheit in unserem System zu gewährleisten.
                                    </div>
                                    <span class="badge bg-primary rounded-pill">25%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >4.</span>  Link </div>
                                            In diesem Fall war es ein reiner Test. Wenn eine E-Mail Links enthält, sollten wir vorsichtig sein und sie nicht einfach anklicken,
                                            insbesondere bei unbekannten Absendern oder in Zusammenhang mit einer verdächtigen Mail. Phishing-E-Mails sollen darauf abzielen uns dazu zu bringen,
                                            auf Links oder Anhänge zu klicken, die möglicherweise Malware oder Viren enthalten und verhindern, dass diese unserem IT-System Schaden zufügen können.
                                        </div>
                                    <span class="badge bg-primary rounded-pill">25%</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <dic class="col-6">
                    <h3 class="display-4 py-5"> Email-Vorlage</h3>
                    <img src="{% static 'app_phishing/img/email-test.png' %}" height="700px" width="auto" usemap="#test" id="email-test">
                    <map name="test">
                      <area shape="rect" coords="853,180,907,235" href="#" title="This is the first hotspot">
                      <area shape="rect" coords="100,0,200,30" href="#" title="This is the second hotspot">
                      <area shape="rect" coords="200,0,300,30" href="#" title="This is the third hotspot">
                    </map>
                </dic>
            </div>
        </div>
    </section>
    <div class="my-5"></div>
    <section class="py-5" style="background-color:  #212529;" id="template-test">
        <div class="container">
            <div class="row py-5 text-center">
                <h2 class="display-2  ">Template-Test</h2>
                <hr/>
            </div>
            <div class="row align-items-start">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 shadow-sm">
                            <h3 class="display-3 py-5">Erklärung</h3>
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >1.</span> Enter Password</div>
                                        <p>
                                            Bei Phishing-E-Mails handelt es sich um gefälschte E-Mails, die vorgeben,
                                            von vertrauenswürdigen Absendern zu stammen, wie zum Beispiel von Banken, sozialen Medien oder Online-Shops.
                                            Oft enthalten diese E-Mails Aufforderungen, persönliche Daten wie Benutzernamen und Passwörter einzugeben,
                                            indem sie einen Link zu einer gefälschten Website bereitstellen, die genauso aussieht wie die echte Website.
                                            Wenn die Empfänger dieser E-Mails ihre Login-Daten eingeben, werden diese von den Betrügern abgefangen und
                                            können später für Identitätsdiebstahl oder andere kriminelle Zwecke verwendet werden. Aus diesem Grund ist es wichtig,
                                            vorsichtig zu sein und verdächtige E-Mails zu melden oder zu löschen, anstatt auf ihre Aufforderungen zu reagieren.
                                        </p>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">20%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >2.</span> Passwortdiebstahl</div>
                                        <p>
                                            Als Teil unseres Trainings zur Erkennung von Phishing-E-Mails haben wir in einer E-Mail
                                            sowohl den Begriff <span class="text-warning">"Passwort"</span> als auch <span class="text-warning">"Password"</span> in Englisch und Deutsch verwendet.
                                            Dadurch sollte deutlich werden, dass es sich möglicherweise um eine Phishing-E-Mail handelt, die darauf abzielt, dass Empfänger ihr Passwort preisgeben.
                                            Wir möchten unsere Mitarbeiter sensibilisieren und darauf aufmerksam machen, wie wichtig es ist,
                                            bei derartigen E-Mails äußerst vorsichtig zu sein und keine persönlichen Daten preiszugeben.
                                        </p>
                                    </div>
                                    <span class="badge bg-primary rounded-pill">60%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-start py-4">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold h2 pb-2"><span class="text-bg-primary p-3 me-2" >3.</span> Rechtschreibfehler</div>
                                           Wir haben bewusst Rechtschreibfehler eingebaut, wie z.B. die falsche Schreibweise von "Willkommen" und "GmbH". Solche Fehler deuten oft darauf hin,
                                            dass es sich um eine Phishing-E-Mail handeln könnte, die von einem automatischen Übersetzer erstellt wurde.
                                    </div>
                                    <span class="badge bg-primary rounded-pill">20%</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <dic class="col-6">
                    <h3 class="display-3 py-5">Anmeldung-Vorlage</h3>
                    <img src="{% static 'app_phishing/img/passwort-template.png' %}" height="700px" width="auto">
                </dic>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <div class="row">
        <div class="col-md-12">
            <p>TM © 2023 - PB Consult GmbH - All Rights Reserved</p>
        </div>
    </div>
{% endblock %}